%% -*- mode: erlang -*-

{erl_opts, [debug_info,
	    warn_deprecated_function,
	    warn_deprecated_type,
	    warn_export_all,
	    warn_export_vars,
	    warn_obsolete_guard,
	    warn_untyped_record,
	    warnings_as_errors,
	    warn_unused_import,

	    {parse_transform, lager_transform}]}.

{dialyzer, [{warnings, [ no_return
		       , no_opaque
		       , no_fail_call
		       , error_handling
		       , race_conditions
		       %% , overspecs
		       %% , underspecs
		       %% , specdiffs
		       ]}]}.

{xref_checks, [undefined_function_calls,
	       undefined_functions,
	       locals_not_used,
	       deprecated_function_calls,
	       deprecated_functions]}.

{deps, [{ranch, "1.7.1"},
	{recon, "2.5.0"},
	{lager, "3.6.9"}]}.

{edoc_opts, [{preprocess, true},
	     {stylesheet_file, "./priv/edoc.css"},
	     {overview, "./priv/overview.edoc"}]}.

{eunit_opts, [no_tty,
	      {report, {eunit_progress, [colored, profile]}}
	     ]}.

%% {shell, [{apps, [wolfpacs]}]}.

{cover_enabled, true}.
{cover_export_enabled,true}.

%% Modules to exclude from cover
{cover_excl_mods, []}.

{project_plugins, [rebar3_proper,
		   rebar3_hex,
		   {rebar3_codecov,
		    {git,
		     "https://github.com/Raphexion/rebar3_codecov.git",
		     {branch, "master"}}}]}.

{provider_hooks,
 [
  {post, [{ct, {codecov, analyze}}]},
  {post, [{eunit, {codecov, analyze}}]},
  {post, [{proper, {codecov, analyze}}]}
 ]}.

{relx, [{release, {wolfpacs, "0.0.1"},
         [wolfpacs,
	  crypto,
	  lager,
	  sasl]},

        {dev_mode, true},
        {include_erts, false},
	{extended_start_script, true}
       ]
}.

{profiles, [{test, [{erl_opts, [nowarn_export_all]},
		    {deps, [proper]}
		   ]},
	    {prod, [{relx, [{dev_mode, false},
			    {include_erts, true}]}
		   ]}
	   ]}.
