%% -*- mode: erlang -*-

[{kernel, [
    {logger_level, info},
    {logger, [
        %% Console handler - logs info and above to console
        {handler, default, logger_std_h, #{
            level => info,
            formatter => {logger_formatter, #{
                single_line => false,
                time_designator => $\s
            }}
        }},
        %% Error file handler - logs errors to file
        {handler, error_file, logger_disk_log_h, #{
            level => error,
            config => #{
                file => "/tmp/wolfpacs/error.log",
                type => wrap,
                max_no_files => 5,
                max_no_bytes => 10485760  % 10 MB
            },
            formatter => {logger_formatter, #{
                single_line => false,
                time_designator => $\s
            }}
        }},
        %% Info file handler - logs info and above to file
        {handler, info_file, logger_disk_log_h, #{
            level => info,
            config => #{
                file => "/tmp/wolfpacs/console.log",
                type => wrap,
                max_no_files => 5,
                max_no_bytes => 10485760  % 10 MB
            },
            formatter => {logger_formatter, #{
                single_line => false,
                time_designator => $\s
            }}
        }}
    ]}
]}].
